@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.topMenu1div{
  /* width: 100%; */
  height: 60px;
  background-color: #2D4263;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
}

.searchInput{
  height: 30px;
  border-radius: 50px 0 0 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 0%;
  padding-left: 5px;

}

.searchImg {
  width: 20px;
  padding: 0%;
  
}

.searchBar1{
  display: flex;
  align-items: center;

} 

.searchButton {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 0 50px 50px 0;
  padding: 0%;
  padding-right: 5px;
}

.button{
  background-color: #D03D18;
  height: 30px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 10px;
  color: #F5F5F5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
  justify-self: end;
}

.hp1Body {
  background: rgb(240,67,24);
  background: linear-gradient(135deg, rgba(240,67,24,1) 0%, rgba(241,150,127,1) 100%);
  height: 100vh;
}

.mainText{
  width: 40%;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
