@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

 /* SEARCH COMPONENT */

 .searchInput{
  height: 30px;
  border-radius: 50px 0 0 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 0%;
  padding-left: 5px;

}

.searchImg {
  width: 20px;
  padding: 0%;
  
}

.searchBar1{
  display: flex;
  align-items: center;

} 

.searchButton {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 0 50px 50px 0;
  padding: 0%;
  padding-right: 5px;
}

 /* HOMEPAGE1 */
.topMenu1div{
  width: 90%;
  height: 60px;
  background-color: #2D4263;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
  /* position: absolute; */
  top: 0;
}

.hp1Body {
  background: rgb(240,67,24);
  background: linear-gradient(135deg, rgba(240,67,24,1) 0%, rgba(241,150,127,1) 100%);
  height: 100vh;
}

.mainPartHP{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  align-items: center;
  justify-content: center;
}

.mainText{
  width: 30%;
  height: 65vh;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 30px;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  padding-bottom: 15px;
  text-align: center;
  margin-left: 5%;
}

.mainText h1 {
  font-size: 55px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  color: #023047;

}

.mainText p{
  text-align: left;
  color: #023047;
}

.mainText button{
  height: 40px;
  font-weight: 800;
}

.mainPInvite {
  font-weight: 700;
}

.mainPhoto{
  width: 40%;
  height: 65vh;
}

.mainPhoto img{
  height: 70vh;
}

/* BUTTON ON HP1 */

.button{
  background-color: #D03D18;
  height: 30px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 10px;
  color: #F5F5F5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
  justify-self: end;
}

 /* DASHBOARD */

.topMenu2div{
  width: 100%;
  height: 60px;
  background-color: #D03D18;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  top: 0;
  position: fixed;
  z-index: 1;
}

.topMenu2div p {
  color: #F5F5F5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
   
}

.leftItem {
  width: 30%;
}
.centerItem {
  width: 30%;
  display: flex;
  justify-content: center;
}
.rightItem {
  width: 30%;
  display: flex;
  justify-content: right;
}

.sDashboardMain {
  background-color: #ffffff;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;

}

 /* USER ICON ON TOP MENU 2 */

.userIcon {
  background-color: #2D4263;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self:right
}

.userIcon img{
  height: 25px;
  filter: brightness(0) invert(1);

}

 /* SIDE MENU  */

.sideMenuDiv {
  background-color: #EEEEEE;
  height: calc(100vh - 60px);
  width: 20%;
  border-radius: 0px 20px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 60px;

}

.sideMenuDiv hr {
  width: 80%;
  background-color: #2D4263;
  height: 1px;
}

.sideMenuDiv p {
  color: #2D4263;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.sideMenuTitle {
  color: #D03D18;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;

}

 /* DASHBOARD STUDENT  */
.next2SideMenuDiv {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 20%;
  top: 60px;
}

.badgesSectionDash {
  width: 90%;
  height: auto;
  color: #2D4263;
  /* background-color: #023047; */
}

 /* BADGES COMPONENT */

.badgeDiv {
  width: 180px;
  height: 180px;
  background-color: #EEEEEE;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  /* margin-bottom: -50px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.badgeDiv img {
  width: 50%;
  position: relative;
  bottom: 70px;
  /* left: 50px; */
}

.badgeText {
  margin-top: -60px;
  text-align: center;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #2D4263;
  padding: 0px 10px;

}

.badgeText>p:first-of-type {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.mySubjectsDash {
  width: 90%;
  height: auto;
  color: #2D4263;
  margin-top: 20px;

}

.subjectItemDash {
  width: 45%;
  height: 100px;
  background-color: #EEEEEE;
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 30px;

}

.subjectsListedDash {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

}

 /* SIDE MENU 2  */

.sideMenuDiv button {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 15px;
  font-size: 15px;
}

.notificationsSectionDash {
  width: 90%;
  height: auto;
  color: #2D4263;
  margin-top: 20px;
}

.notificationsBoard, .approvalBox {
  width: 100%;
  height: 200px;
  background-color: #EEEEEE;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  
  /* margin-top: 10px; */
}

.pendingInstSection, .pendingCourseSection {
  width: 90%;
  height: auto;
  color: #2D4263;
  margin-top: 20px;
}

.pendingCourseSection {
  margin-bottom: 60px;
}

.link {
  text-decoration: none;
}

.stemSection, .artsSection, .socialSciences{
  width: 90%;
  height: auto;
  color: #2D4263;
  margin-top: 20px;
}

 /* SLIDER ITEM  */
.sliderItem {
  width: 300px; /* Each slide item takes up one-third of the slider */
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #abcbdb;
  border-radius: 20px;
}

.sliderContainer{
  position: relative;
  width: 100%;
  overflow: hidden; /* Hides anything outside the slider */
}

.slider {
  display: flex;
  width: calc(300%); /* Adjust based on number of items you add */
  transition: transform 0.5s ease-in-out;
}

.sliderContainer img {
  width: 30px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

.slider .slideItem:nth-child(2) {
  transform: scale(1.2); /* Makes the middle item larger */
}

.banner{
  z-index: -1;
  width: 100%;
}

.profileDiv {
  width: 100%;
  display: flex;
}

.profilePic {
  width: 100px;
  position: relative;
  bottom: 50px;
  left: 100px;
}

.profileContents {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #023047;
  position: relative;
  bottom: 50px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.profileSides1 {
  width: 40%;
}


.profileSides2  {
  width: 35%;
  display: flex;
  justify-self: center;
  align-self: center;
  height: 320px;
  overflow: hidden;
  position: relative;
}

.sectionDiv {
  background-color: #EEEEEE;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  
}

.profileBadgeImg {
  width: 40%;
  padding: 10px;
}

.ProfilePicDiv {
  width: 100%;
}

.profileName {
  font-size: 24px;
  font-weight: 700;
}

.profileEmail {
  font-size: 20px;
  font-weight: 600;
}

.profileBio {
  font-size: 20px;
  font-weight: 700;
}

.profileBioText {
  font-weight: 500;
}

.badgesContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profileSides2 p{
  font-weight: 700;
  font-size: 20px;
}

.overlayProfile {
  width: 100%;
  position: absolute;
  height: 130px;
  z-index: 1;
  bottom: 0;  
  background: linear-gradient(to top, #EEE 20%, transparent 100%);
  display: flex;
  justify-content: center;
  align-items: end;

}

.next2SideMenuSettings {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  left: 20%;
  top: 60px;
  height: calc(100vh - 60px);
}

.settingsMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  width: 120px;
}
.sMenuContent {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 80%;
  text-align: center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #023047;
}
.sMenuContent hr {
  width: 100%;
}

.settingsContents {
  width: calc(95% - 120px);
  display: flex;
  justify-content: space-evenly;

}
.accSettings {
  width: 80%;
}

.functionHeading {
  font-size: 22px;
  font-weight: 600;
}

.majorHeading {
  font-size: 24px;
  font-weight: 700;
}

.settingsText {
  font-size: 20px;
  font-weight: 400;
}

.settingsButton{
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}