.slider {
    display: flex;
    width: 100%; /* Full width of the container */
    height: 270px;
    overflow: hidden;
    position: relative;
    justify-content: center; /* Center the slides */
    align-items: center;
}

.slider-item {
    width: 25%; /* Each slide takes up 25% of the slider's width */
    height: 200px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%; /* Add some space between slides */
    background-color: #eeeeee; /* Example background color */
    color: #023047; /* Text color */
    font-size: 16px; /* Adjust text size as needed */
    border-radius: 15px; /* Rounded corners like the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Shadow for 3D effect */
    /* transition: transform 0.5s ease-in-out;  */
    /* Smooth transition for scaling */

}

/* Add transitions for active and neighboring slides */
.slider .slider-item:nth-child(2) {
    transform: scale(1.2); /* Slightly enlarge the middle slide */
}

.subjectPic {
    width: 90%;
    height: 40%;
    border-radius: 10px;
    overflow: hidden;
}

.subjectPic img {
    width: 100%;
}

.slider-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}